<ion-view title="Cursos" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="cursos-form3" class="list">
      <label class="item item-input" id="cursos-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Procure por um curso">
      </label>
    </form>
    <a href-inappbrowser="http://www.sebrae.com.br/sites/PortalSebrae/Busca?q=Cursos%20Gratuitos" id="cursos-button12" class="button button-positive button-block">Vamos lá</a>
    <div class="spacer" style="height: 60px;"></div>
    <button id="cursos-button13" class="button button-positive button-block">Meus cursos</button>
    <div class="spacer" style="height: 60px;"></div>
    <a href-inappbrowser="http://www.sebrae.com.br/sites/PortalSebrae/ideias/como-montar-um-salao-de-beleza-infantil,ea397a51b9105410VgnVCM1000003b74010aRCRD" id="cursos-button14" class="button button-positive button-block">Cursos Sugeridos</a>
    <div class="spacer" style="height: 60px;"></div>
    <a ui-sref="home()" id="cursos-button16" class="button button-positive button-block">Home</a>
  </ion-content>
</ion-view>