<ion-view title="Home" id="page5">
  <ion-content padding="true" class="has-header">
    <a ui-sref="meusDados()" id="home-button5" class="button button-positive button-block">Meus dados</a>
    <a ui-sref="cursos()" id="home-button6" class="button button-positive button-block">Cursos</a>
    <a ui-sref="chatBot()" id="home-button7" class="button button-positive button-block">ChatBot</a>
    <a ui-sref="dicas()" id="home-button8" class="button button-positive button-block">Dicas</a>
    <a ui-sref="finanAs()" id="home-button9" class="button button-positive button-block">Finanças</a>
    <a href-inappbrowser="http://www.sebrae.com.br" id="home-button10" class="button button-positive button-block">Sebrae</a>
    <a ui-sref="caminhoDoSucesso()" id="home-button11" class="button button-positive button-block">Caminho do Sucesso</a>
  </ion-content>
</ion-view>