<ion-view title="Meus Cursos" id="page13">
  <ion-content padding="true" class="has-header">
    <ion-list id="meusCursos-list3">
      <ion-item id="meusCursos-list-item4" href-inappbrowser="http://www.sebrae.com.br/sites/v/index.jsp?vgnextoid=c8decf74de20f510VgnVCM1000004c00210aRCRD">Planejamento estratégico</ion-item>
      <ion-item id="meusCursos-list-item5" href-inappbrowser="http://www.sebrae.com.br/sites/PortalSebrae/ead/atendimento-ao-cliente,f6424bbfa8c98510VgnVCM1000004c00210aRCRD">Atendimento ao cliente</ion-item>
    </ion-list>
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="home()" id="meusCursos-button15" class="button button-positive button-block">Home</a>
  </ion-content>
</ion-view>