<ion-view title="Signup" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="signup-form2" class="list">
      <ion-list id="signup-list2">
        <label class="item item-input" id="signup-input3">
          <input type="text" placeholder="Nome">
        </label>
        <label class="item item-input" id="signup-input4">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input" id="signup-input5">
          <input type="text" placeholder="Senha">
        </label>
        <label class="item item-input" id="signup-input6">
          <input type="text" placeholder="Repita a Senha">
        </label>
        <label class="item item-input" id="signup-input7">
          <input type="number" placeholder="CPF - Só os numeros">
        </label>
        <label class="item item-input" id="signup-input8">
          <input type="number" placeholder="CNPJ - Só os numeros">
        </label>
        <label class="item item-input" id="signup-input9">
          <input type="text" placeholder="Nome da Empresa">
        </label>
        <label class="item item-input" id="signup-input10">
          <input type="text" placeholder="Cidade">
        </label>
        <label class="item item-input" id="signup-input11">
          <input type="text" placeholder="Ramo da Empresa">
        </label>
      </ion-list>
      <a ui-sref="login()" id="signup-button3" class="button button-stable button-block">Cadastro</a>
    </form>
  </ion-content>
</ion-view>